<div class="navbar navbar-fixed-top clearfix">
        <div class="navbar-inner">
            <ul class="nav pull-left">
                <li id="descriptionBox" class="">
                    <!--
                    <a href="https://github.com/chanakyabhardwajj/beat-speed"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png" alt="Fork me on GitHub"></a>
                    -->
                    <em>beat speed</em> built with Soundcloud, Three.js, Sparks.js, Dancer.js & Bootstrap
                </li>
            </ul>

            <ul class="nav pull-right">
                <li id="userBox" class="">
	                <div id="userName" href="#">
					    <span>Yo {{first_name}}</span>
					</div>
				</li>
            </ul>
        </div>
    </div>


