<div class="block loginBox">
    <div id="loginButton" class="zocial facebook">Login with Facebook</div>
</div>
<div id="loginError" class="alert alert-error hide">There was an error in signing up. Try again.</div>