<div id="songStuff">
    <div id="songBox" class="input-prepend input-append">
        <span class="add-on"><i class="icon-music"></i></span>
        <input class="span2" id="songQuery" type="text" placeholder="search for any song">
        <span class="add-on clearQuery"><i class="icon-remove"></i></span>
    </div>
    <p class="progressInd icon-spinner icon-spin hide"></p>
    <div id="songResults" class="row-fluid"></div>
</div>
<canvas id="songCanvas" width="100" height="100"></canvas>